extends layout

block content
  h1 Hi! 👋
  h2 Welcome to #{title}
  p Try to access the follwing routes.
  p
    small
      b SVG for the gallery page:
  code BASE_URL/gallery?g1=1&g2=1&g3=1&g4=1&r=1
  p
    small
      b SVG for the idea`s page:
  code BASE_URL/idea?g1=1&g2=1&g3=1&g4=1&r=1
